.main {
    max-width: 100vw;           /* Prevent horizontal overflow */
    overflow-x: hidden;         /* Hide accidental horizontal scroll */
    padding: 0 0.5rem;            /* Optional: Add padding to avoid hugging edges */
    box-sizing: border-box;     /* Ensure padding is included in the element's width */
}

.homeVideo {
    position: relative;
    height: 100%; /* Full height of the viewport */
    max-height: 50vh; /* Maximum height of 50% of the viewport */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    width: 100%;
    object-fit: cover;
}

.titleText {
    z-index: 1000;
    position: absolute;
}

.titleSubtext {
    z-index: 1000; 
    position: absolute;
    bottom: 0;
}

.titleTextContainer {
    padding: 0;
}

.laptopImg {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .titleTextContainer {
        height: 25vh; /* Adjust height for smaller screens */
        max-height: 25vh; /* Maximum height of 25% of the viewport */
    }
    
    .titleSubtext {
        font-size: 1.11rem !important; /* Adjust font size for smaller screens */
    }
}
